.full-window-height {
	height: 90vh;
}


.no-margins-paddings {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0pt !important;
  padding-bottom: 0pt !important;
}

.chat {
    position: absolute;
    overflow: hidden;
    bottom: 5px;
    flex-direction: column;

    
/*    &.active-chat {
        display: block;
        display: flex;
        .bubble {
            @include transition-timing-function(cubic-bezier(.4,-.04, 1, 1));
            @for $i from 1 through 10 {
                &:nth-of-type(#{$i}) {
                    @include animation-duration(.15s *$i);
                }
            }
        }
    }*/
}